<div class="login-container">
    <h2>Please login to continue!</h2>
    <input type="text" name="username" id="username-input-login" placeholder="Username">
    <input type="password" name="password" id="password-input-login" placeholder="Password">

    <button>Login</button>
</div>
