<div class="signup-container">
    <h2>Please signup to continue!</h2>
    <input type="text" name="username" id="username-input-signup" placeholder="Username">
    <input type="password" name="password" id="password-input-signup" placeholder="Password">

    <button>signup</button>
</div>
